<div class="header__left">
    <span class="header__title">Dashboard</span>
</div>
<div class="header__right">
    <div class="header__search">
        <i data-lucide="search"></i>
        <input type="text" name="search" value="" placeholder="Search..." />
    </div>
    <div class="header__notifications">
        <button class="header__notifications-btn"><i data-lucide="bell"></i></button>
    </div>
    <div class="header__language">
        <button class="header__language-btn">
            <i data-lucide="globe"></i>
            <span class="header__language-name">English</span>
        </button>
    </div>
</div>
